<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcdigitech.notepad"
    android:sharedUserId="com.share.hcd"
    android:versionCode="103"
    android:versionName="1.0.3" >

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="false"
        android:smallScreens="false" >
    </supports-screens>
    <uses-sdk android:minSdkVersion="15"/>

    <application
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.hcdigitech.notepad.NoteList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hcdigitech.notepad.NoteEdit"
            android:configChanges="keyboardHidden|orientation|navigation" />
    </application>

</manifest>